@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #111111;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    background-color: #47A6D8;
    width: 5px;
    height: 5px;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5em;
}

.inactive {
    filter: saturate(0.5);
}

.gen-btn {
    animation: pop-up 0.3s ease forwards;
    transform: scale(0);
}

@keyframes pop-up {
    to {
        transform: scale(1);
    }
}